{% extends 'base.html' %}
{%  block start %}
<div class="container" style="margin-top: 5%">
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>
    {% for group in request.user.groups.all %}
    {% if group.name == 'Admin' %}
<p><a href="{% url 'article_edit' article.pk %}">Редактировать</a> | <a href="{# url 'article_delete' article.pk %}">Удалить</a></p>
    {% endif %}
    {% endfor %}
<p>Вернуться ко <a href="{% url 'article_list' %}">всем отзывам</a>.</p>
</div>
{% endblock %}