{% extends "base.html" %}

{%  block start %}

<div class="container mt-5 pt-5">
    <div class="row search-card-result">
        <div class="col-md-3">
        <a href="/hotel-detail/{{hotels_obj.uid}}">
            <img class="img-fluid" src="/media/{{hotels_obj.images.first.images}}" alt="Card image cap">
        </a></div>
        <div class="col-md-5" style="display: flex;align-content: center;flex-wrap: wrap;">
            <h5>{{hotels_obj.hotel_name}}</h5>
            
            <p>
                {{hotels_obj.description}}
            </p>
            <p>
                {%for amenitie in hotels_obj.amenities.all %}
                <b>{{amenitie.amenity_name}}</b>,
                {% endfor %}
            </p>
        </div>
        <div class="col-md-2 border-left text-center more-offers" style="display:flex;justify-content: center;align-items: center;">
            <p style="font-size: 14pt;">{{hotels_obj.hotel_price}} рублей</p>
        </div>
        <div class="col-md-2" style="display:flex;justify-content: center;align-items: center;">
            <p style="font-size: 14pt">Количество мест: {{hotels_obj.room_count}}</p>
        </div>
    </div>

        <div class="row gallery" style="justify-content: center;">
            {% for image in hotels_obj.images.all %}
              <div class="col-md-4">
                <img src="/media/{{image.images}}" class="w-100 shadow-1-strong rounded mb-4"/>
              </div>
            {%endfor %}
        </div>

    {% if request.user.is_authenticated %}
    <div class="filter-card">
        <h5>Забронировать</h5>
        {%include "messages.html"%}
        <form method="post">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Телефон</label>
                    <p>
                    <input type="text" name="phone_0" size="13" id="id_phone_0"  placeholder="+7 (999) 999-99-99 " required>
                    </p>
                </div>
                <div class="col-md-12">
                    <label for="mintopay">Заезд</label>
                    <p>
                        <input type="date" name="checkin" id="checkin" class="form-control" required>
                    </p>
                </div>
                <div class="col-md-12">
                    <label for="maxtopay">Выезд</label>
                    <p>
                        <input type="date" name="checkout" id="checkout" class="form-control" required>
                    </p>
                </div>
            </div>
           {% if user.is_authenticated %}
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit"   class="btn btn-info btn-block" value="Забронировать">
                </div>
            </div>
            {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'login_page' %}" class="btn btn-info">Войти</a>
                    <a href="{% url 'register_page' %}" class="btn btn-info">Регистрация</a>
                </form>
            {% endif %}
        </form>
    </div>
    {% else %}
<div class="container" style="display:flex;justify-content: center;">
    <a href="/login/" class="btn btn-danger mt-5 col-5">Войдите, чтобы забронировать!</a>
</div>
    {% endif %}
</div>

{% endblock %}