{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block start %}
<div class="card" style="margin-top:5%">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="card-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
          </div>
      </div>

       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div id="div_id_username" class="control-group">
                        <label for="id_username" class="control-label requiredField">Имя пользователя<span class="asteriskField">*</span></label>
                        <div class="controls">
                            <input type="text" name="username" value="{{ user.username }}" maxlength="150" class="textinput textInput" required="" id="id_username">
                            <p id="hint_id_username" class="help-block">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</p>
                        </div>
                    </div>
                </li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Обновить</button>
          </div>
      </form>
{% endblock  %}